
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: #014545;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    text-align: center;
    gap: 30px;
    padding-top: 50px;
}


.header {
    color: white;
    font-size: 2rem;
    padding: 1rem 2rem;
    
   
}

.header .header__title {
    font-family: "Molle", serif;
    font-weight: 400;
    font-style: italic;
}

.gallery {
    flex-grow: 1;
    width: 90%;
    max-width: 800px; 
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
    align-items: center; 
    margin: 0 auto; 
    margin-bottom: 50px;
}

.gallery__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas grandes */
    grid-template-rows: auto;
    gap: 15px; /* Espacio entre imágenes */
    list-style: none;
    width: 100%;
    padding: 0;
}

.gallery__image {
    width: 100%;
    height: auto;
}



@media (max-width: 400px) {

    body {
        justify-content: flex-start; 
        padding-top: 20px; 
        height: auto; 
    }

    .header {
        font-size: 1.2rem; 
        margin-bottom: 10px; 
    }

    .gallery__list {
        grid-template-columns: 1fr; 
    }

    .gallery {
        width: 95%; /* Reducir el ancho para que no se desborde */
        max-width: 300px; /* Evita que la galería sea demasiado grande */
    }
    .gallery__image {
        max-width: 100%; /* Que las imágenes ocupen el ancho completo */
        height: auto;
}
}

@media (min-width: 400px) and (max-width: 1999px) {
    body {
        justify-content: flex-start; /* Evita que todo quede demasiado abajo */
        padding-top: 15px; /* Menos espacio arriba */
        height: 100vh; /* Ajuste de altura */
    }

    .header {
        margin-bottom: 50px; /* Separación controlada del contenido */
        font-size: 1.5rem;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        max-width: 800px;
        margin: auto; /* Centra correctamente */
    }
}




