*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #014545;
}

header{
    color:white;
    font-size: 2rem;
    padding: 1rem 2rem;
}

.header .header__title {
    font-family: "Molle", serif;
    font-weight: 400;
    font-style: italic;
}